{% load static  %}
body {
 background: rgba(210, 132, 92, 0.34);
}
aside{
 float:left;
 background: #181818;
 width: 20%;
 padding: 2.5%;
 height: 100vh;
 color: azure;
 border-right: 5px solid green;


}
aside img{
 width:80px ;
 float: left;
}
aside .logo {
 font-size:25px;
 margin-left: 10px;
 font-weite:bolt;
 top: -5px;
}
aside h3{
 margin-top: 50px;
 font-size: 29px;
}
aside ul{list-style: none}
aside ul li{
 color:#fff;
 display: block;
 margin-top: 20px;
 transition:transform  .6s ease;
}
aside ul li:hover,aside ul a:hover{
 color: red;
 text-decoration: none;
 transform-scale(2.1) ;
}




div button {
text-align: center;
 color: blue;

}
main .features h1{font-size: 40px; text-align: center}
main .features p {max-width: 400px; margin: 20px; text-align: center;  }

.alert-warning {
 float: left;
 clear: both;
 width: 400px;
 margin:400px;
text-align: center;
}
form {
 margin-left: 32%;
 width: 500px;
 margin-top: 50px;

}